@{
    ViewBag.Title = "SET - Home";
}

<div class="jumbotron">
    <h1>SET</h1>
    <p class="lead">Set is a match-finding game that can be played by yourself or with friends!</p>
    <p><a href="/Home/Rules" class="btn btn-primary btn-lg">Learn the Rules &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Solitaire</h2>
        <p>
            Play the game at your own pace.  See how fast you can go through the deck.  If you get stumped you can display a possible solution.
        </p>
        <p><a class="btn btn-default" href="/Home/Solitaire">Play &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Play Against Bots</h2>
        <p>Add as many bots as you want to the game.  Bots are either Easy, Medium, or Hard.</p>
        <p><a class="btn btn-default" href="/Home/Bots">Play &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Play With Others</h2>
        <p>Create a game that your friends can join or join a game already set up.</p>
        <p><a class="btn btn-default" href="/Home/MultiplayerLobby">Play &raquo;</a></p>
    </div>
</div>