<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="120.0.6099.10900" targetFramework="net452" />
</packages>